@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-track {
  background: black;
}

body {
  font-family: "Comfortaa";
  overflow-x: hidden;
}

header {
  padding: 40px 50px 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}
header .header-inner {
  min-height: 40px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  position: relative;
}
header .header-inner .menu-toggle {
  position: absolute;
  right: 5px;
}
header .header-inner .menu-toggle .menu-toggle-inner {
  height: 68px;
  width: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  mix-blend-mode: exclusion;
  transition: transform 0.3s ease;
}
header .header-inner .menu-toggle .menu-toggle-inner .line {
  width: 22px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.5s;
  mix-blend-mode: exclusion;
}
header .header-inner .menu-toggle .menu-toggle-inner .line.active.top-line {
  transform: rotate(45deg);
  margin: -1px;
  transition: all 0.5s;
  background-color: black;
}
header .header-inner .menu-toggle .menu-toggle-inner .line.active.bottom-line {
  transform: rotate(-45deg);
  margin: -1px;
  transition: all 0.5s;
  background-color: black;
}
header .header-inner .slide {
  visibility: hidden;
  position: absolute;
  border-radius: 999px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  background-color: #f4f7f6;
  z-index: -1;
  transition: all 0.5s;
  padding: 8px;
}
header .header-inner .slide.active {
  width: 100%;
  visibility: visible;
  transition: all 0.5s;
}
header a {
  position: absolute;
  left: 5px;
  color: white;
  text-align: left;
  mix-blend-mode: exclusion;
}
header a span {
  font-size: 1.5rem;
}
header a:after {
  display: none;
}
header nav {
  display: none;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}
header nav.active {
  display: flex;
}
header nav a {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  mix-blend-mode: exclusion;
  color: white;
}
header nav a.router-link-exact-active {
  color: white;
}

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: black;
}
.home .home-intro {
  position: relative;
  min-height: 350px;
  margin-top: -10vh;
  width: 95%;
  margin: auto;
}
.home .home-intro.about {
  margin-top: 20vh;
}
.home .home-intro .title {
  position: relative;
  z-index: 10;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  line-height: 140%;
  margin: 0;
}
.home .home-intro .title.title-big {
  font-size: 4rem;
  text-align: left;
}
.home .home-intro .text {
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.7rem;
  letter-spacing: -0.4px;
  margin-bottom: 30px;
  position: relative;
  z-index: 9;
  margin-top: 80px;
  color: white;
  text-align: left;
}
.home .home-intro .text-big {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 1px;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
  transition: padding-bottom 0.4s ease-in-out;
}
a:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 2%;
  background-color: white;
}

.cursor-hover-element {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.cursor--large {
  --size: 100px;
  border: 1px solid #fff;
  mix-blend-mode: difference;
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1001;
}
.cursor.exclude-cursor {
  background-color: #fff !important;
}

.cursor--small {
  --size: 6px;
  background: #fff;
  mix-blend-mode: exclusion;
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1001;
}

.box-about .about {
  width: 100%;
  min-height: 10vh;
}
.box-about .about p {
  padding-top: 100px;
}
.box-about .img {
  width: 350px;
  float: right;
  z-index: 10;
  margin-left: 50px;
}
.box-about .img img {
  max-width: 100%;
}

.about {
  width: 100%;
  min-height: 60vh;
  background-color: black;
}
.about .about-inner {
  width: 95%;
  margin: auto;
  padding-top: 10vh;
}
.about .about-inner .title {
  position: relative;
  z-index: 10;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  line-height: 140%;
  margin: 0;
  margin-bottom: 50px;
}
.about .about-inner .title.title-big {
  font-size: 4rem;
  text-align: left;
}
.about .about-inner .box-about {
  color: #fff;
}
.about .about-inner .box-about .box-skills {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  padding-bottom: 50px;
  z-index: 15;
}
.about .about-inner .box-about .box-skills .box {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  border-radius: 999px;
  transition: all 0.3s ease-out;
  background-color: rgba(255, 255, 255, 0.135);
  z-index: 11;
  position: relative;
}
.about .about-inner .box-about .box-skills .box .box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 999px;
  z-index: 10;
  transition: all 0.3s ease-out;
  background-color: black;
}
.about .about-inner .box-about .box-skills .box .box-icon i {
  font-size: 2.5rem;
}
.about .about-inner .box-about .box-skills .box span {
  color: white;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  transition: transform 0.5s ease-out;
}
.about .about-inner .box-about .box-skills .box:hover {
  width: 220px;
}
.about .about-inner .box-about .box-skills .box:hover span {
  visibility: visible;
  transition: transform 0.5s ease-out;
}
.about .about-inner .box-formation {
  width: 100%;
  min-height: 20vh;
  margin-top: 15vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .about-inner .box-formation .box {
  width: 80px;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-inner .info {
  width: 100%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-inner .info .box {
  color: #f4f7f6;
  display: none;
  text-align: center;
}
.about .about-inner .info .box h1 {
  margin-bottom: 15px;
}
.about .about-inner .info .box h2 {
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: center;
}
.about .about-inner .info .box.active {
  display: block;
}

.form {
  width: 60%;
  min-height: 60vh;
  margin: auto;
}
.form form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.form form .text-champ {
  min-width: 300px;
  width: 50%;
  height: 50vh;
}
.form form .text-champ:nth-child(2) {
  display: flex;
  align-items: center;
}
.form form .text-champ div {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form form .text-champ div input {
  width: 80%;
  height: 35px;
  border-radius: 8px;
  border: 1px solid white;
  padding: 5px;
  font-size: 1.1rem;
  background-color: transparent;
  color: #fff;
}
.form form .text-champ div input:focus {
  background-color: #fff;
  color: black;
}
.form form .text-champ textarea {
  max-width: 80%;
  min-width: 80%;
  max-height: 80%;
  min-height: 80%;
  margin: auto;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.1rem;
  background-color: transparent;
  color: #fff;
}
.form form .text-champ textarea:focus {
  background-color: #fff;
  color: black;
}
.form form button {
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
  font-size: 1.2rem;
}
.form form button:hover {
  color: black;
  background-color: white;
  transition: all 0.3s;
}

.text-home {
  min-height: 400px;
}
.text-home p {
  padding: 50px 0px;
  width: 70%;
  font-size: 1.7rem;
}
.text-home .image-home {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 999px;
  float: right;
}
.text-home a {
  font-size: 1.2rem;
}

.projet {
  width: 100%;
  min-height: 200vh;
  background-color: black;
  padding-top: 20vh;
}
.projet .box-projet {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.projet .box-projet .box {
  width: 95%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projet .box-projet .box .box-title {
  width: 20%;
  height: 100%;
}
.projet .box-projet .box .box-title h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  color: white;
}
.projet .box-projet .box .box-image {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.projet .box-projet .box .box-image img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */